.header-wrapper {
  background: radial-gradient(
    ellipse at center,
    #fcfcfc 0%,
    #ffffff 35%,
    #e8e8e8 100%
  );
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner svg {
  fill:#e41b1b; color:#fff; position: absolute; top: 0; border: 0; right: 0;
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
.header {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}
.header img {
  margin: 10px;
  max-width: 100%;
}
.header div {
  padding: 0px 10px;
  max-width: 900px;
  box-sizing: border-box;
}
.header-wrapper h1 {
  font-style: italic;
  font-weight: 300;
  text-align: center;
  font-size: calc(14px + 6 * (100vw - 300px) / (1200-300));
}
