.highlight {
  margin: 0px auto;
  width: 600px;
  min-height: 230px;
  background-color: #eee;
  background: linear-gradient(
    135deg,
    #fff 0%,
    #f7f7f7 60%,
    #f7f7f7 60%,
    #efefef 60%,
    #efefef 60%,
    #dddddd 100%
  );
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 1.3em;
  color: #333;
  box-sizing: border-box;
}
.hidden-jsons {
  opacity: 0;
  transform: translateY(-100px);
}
.jsons-holder {
  margin: 10px auto;
  margin-bottom: 40px;
  width: 600px;
  transition: all 0.6s ease-in-out;
}
.json h4 {
  font-size: 1.4em;
  margin: 4px;
  color: #333;
  font-style: italic;
  border-bottom: 1px solid #ddd;
}
.editorWrapper {
  padding: 2px;
  background: #fff;
  border-radius: 5px;
}
.json {
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 299px;
}
.one {
  margin-right: 1px;
}
.two {
  margin-left: 1px;
}
.editMe span {
  color: #ff8585;
  font-size: 1.5em;
  font-style: italic;
  opacity: 0;
}
.editMe-animation span {
  opacity: 1;
  animation: disappear 15s ease-in-out infinite;
}
@keyframes disappear {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment, .hljs-quote {
  color: #8e908c;
}
/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}
/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}
/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}
/* Tomorrow Green */
.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
  color: #718c00;
}
/* Tomorrow Blue */
.hljs-title, .hljs-section {
  color: #4271ae;
}
/* Tomorrow Purple */
.hljs-keyword, .hljs-selector-tag {
  color: #8959a8;
}
.hljs {
  display: block;
  overflow-x: auto;
  color: #4d4d4c;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
