@import url('https://fonts.googleapis.com/css?family=Lato:300i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  transform: translateY(-100px);
  opacity: 0;
  animation: appear 1s ease-in-out forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* bootstrap like container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.section-catch-phrase {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
}
a {
  text-decoration: none;
  color: inherit
}